/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Tapestry&display=swap");

/* variables  */
:root {
  --primary-color: #00dbae;
  --primary-color-alt: #00acfa;
  --secondary-color: #33333;
  --accent-color: #fff;

  --montserrat: "Montserrat", sans-serif;
  --special-font: "Tapestry", cursive;
}

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: var(--montserrat);
  font-size: 16px;
}
h1 {
  font-family: var(--special-font);
}
img {
  max-width: 100%;
  height: auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Custom Classes */
.container {
  max-width: min(100% - 2rem, 1200px);
  margin-inline: auto;
}

.colorize {
  color: var(--primary-color);
}
.cursor-pointer {
  cursor: pointer;
}

.text-danger {
  color: #eb1391;
}
